.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 64px;
  user-select: none;
  cursor: crosshair;
  gap: 4px;
  border-radius: 4px;
}

.container:hover .portrait {
  ---outline-size: 2px;
}

[data-selected-brush="0"] .container:hover {
  ---color: var(--color-dailin);
}

[data-selected-brush="1"] .container:hover {
  ---color: hsl(282deg 79% 53%);
}

[data-selected-brush="2"] .container:hover {
  ---color: hsl(229deg 79% 53%);
}

[data-selected-brush="3"] .container:hover {
  ---color: hsl(214deg 4% 19%);
}

.container figcaption {
  font-size: 0.75rem;
  text-align: center;
}

.portrait {
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background: var(---background);
  box-shadow: var(---shadow);
  outline: var(---outline-size, 0) solid var(---color);
}

.portrait img {
  filter: brightness(var(---brightness, 1)) opacity(var(---opacity, 1)) grayscale(var(---grayscale, 0));
  transition: filter 0.2s ease-in-out;
}

.portrait.tier0 {
  ---background: var(--color-tier-0);
  ---shadow: 0 1px 1px hsl(42deg 79% 53% / 0.2),
    0 1px 2px hsl(30deg 79% 52% / 0.2),
    0 1px 4px hsl(18deg 79% 50% / 0.2);
}

.portrait.tier0 img {
  ---brightness: 1.02;
}

.portrait.tier1 {
  ---background: var(--color-tier-1);
  ---shadow: 0 1px 1px hsl(282deg 53% 32% / 0.2),
    0 1px 2px hsl(294deg 53% 31%/ 0.2),
    0 1px 4px hsl(306deg 53% 29% / 0.2);
}

.portrait.tier1 img {
  ---brightness: 0.9;
  ---opacity: 0.9;
}

.portrait.tier2 {
  ---background: var(--color-tier-2);
  ---shadow: 0 1px 2px hsl(229deg 79% 19% / 0.2);
}

.portrait.tier2 img {
  ---brightness: 0.6;
  ---opacity: 0.9;
  ---grayscale: 0.4;
}

.portrait.tier3 {
  ---background: var(--color-tier-3);
  ---shadow: 0 1px 2px hsl(214deg 4% 19% / 0.2);
}

.portrait.tier3 img {
  ---brightness: 0.2;
  ---opacity: 0.9;
  ---grayscale: 1;
}